<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-ui.min.js')}}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <link href="{{url_for('static',filename='tabulator.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='jquery-ui.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static',filename='tabulator.min.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </head>
  <body onload="callApi()">
	  <select class="js-example-basic-single" name="state" id="input_v">
	  </select>
	  <button id="button" onclick="callApi()"> lookup </button>
	  <div id="loader" style="display:none;">
	  </div>
	  <div id="tabledata"> </div>
	  </select>
  </body>
</html>
