<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-ui.min.js')}}"></script>
    <link href="{{url_for('static',filename='tabulator.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='jquery-ui.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static',filename='tabulator.min.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </head>
  <body onload="callApi()">
	  <input name="input_v" type="text" value="Python"> </input>
	  <button id="button" onclick="callApi()"> lookup </button>
	  <div id="loader" style="display:none;">
	  </div>
	  <div id="tabledata"> </div>
  </body>
</html>
